@model ProyectoFinal1_desaAppsWeb.Models.MUSICA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MUSICA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_musica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_musica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_interpretacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_interpretacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disquera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disquera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_disco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_disco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo_descarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo_descarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo_previsual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo_previsual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_musica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
