@model IEnumerable<ProyectoFinal1_desaAppsWeb.Models.PELICULAS>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archivo_descarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archivo_previsual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idioma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo_descarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo_previsual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Pelicula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Pelicula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Pelicula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
