@model ProyectoFinal1_desaAppsWeb.Models.CONSECUTIVOS

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CONSECUTIVOS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posee_prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posee_prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posee_rango)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posee_rango)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango_inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango_inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango_final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango_final)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
