@model IEnumerable<ProyectoFinal1_desaAppsWeb.Models.CONSECUTIVOS>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consecutivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posee_prefijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posee_rango)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rango_inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rango_final)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consecutivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posee_prefijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posee_rango)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rango_inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rango_final)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
