@model ProyectoFinal1_desaAppsWeb.Models.LIBROS

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LIBROS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_libro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annio_publicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annio_publicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo_descarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo_descarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo_previsual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo_previsual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_libro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
